@import '~design-pattern-library/style.scss';

.header {
  background-color: get-color(primary);
  padding: get-spacing(12) 0;
  &__title {
    color: get-color(white);
    @include typography(xl, semiBold);
    text-transform: uppercase;
  }
}
