@import '~design-pattern-library/style.scss';

.stock-list {
  padding: 20px 0;

  &__spinner {
    margin: 40px auto;
  }

  &__table {
    border-top: none ;
  }

  .dls-table__body tr:hover {
    background: get-color(gray-lighter);
  }
}

.text-right {
  text-align: right;
}
